<link rel="stylesheet" href="/static/css/header.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#">
            <!-- Icono camara desde bootstrap -->
            <i class="fas fa-camera-retro me-2"></i>
            Gallery Ramdon
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <!-- Icono Inicio desde bootstrap -->
                    <a class="nav-link active" href=""><i class="fas fa-home me-1"></i> Inicio</a>
                </li>
                <li class="nav-item">
                    <!-- Icono explorar desde bootstrap -->
                    <a class="nav-link" href="noticias/"><i class="fa-regular fa-newspaper"></i></i> Noticias</a>
                </li>
                <li class="nav-item">
                    <!-- Icono Favoritos desde bootstrap -->
                    <a class="nav-link" href="chat/"><i class="fas fa-heart me-1"></i> CHATBOT</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
